@model GeekShopping.WebUI.Models.ProductModel

<div class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-6 text-center text-blue-600">Update Product</h1>
    <form asp-action="Update" class="w-full max-w-sm mx-auto bg-white p-8 rounded-md shadow-md">
        
        <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
        
        <input asp-for="Id" type="text" id="id" name="id" hidden>
        
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Name">Name</label>
            <input asp-for="Name" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                   type="text" id="name" name="name" placeholder="Product">
            <span asp-validation-for="Name" class="text-red-500 text-xs italic"></span>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Description">Description</label>
            <input asp-for="Description" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                   type="text" id="description" name="description">
            <span asp-validation-for="Description" class="text-red-500 text-xs italic"></span>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Price">Price</label>
            <input asp-for="Price" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                   type="number" id="price" name="price">
            <span asp-validation-for="Price" class="text-red-500 text-xs italic"></span>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="CategoryName">Category Name</label>
            <input asp-for="CategoryName" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                   type="text" id="categoryName" name="categoryName">
            <span asp-validation-for="CategoryName" class="text-red-500 text-xs italic"></span>
        </div>

        <div class="flex justify-center items-center gap-4 w-full">
            <a
                asp-action="Index" class="bg-zinc-500 text-white text-sm font-bold py-2 px-4 rounded-md hover:bg-zinc-600 transition duration-300">
                Back
            </a>

            <button
                class="w-full bg-blue-500 text-white text-sm font-bold py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300"
                type="submit">
                Update
            </button>

        </div>
   
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}